@import "../_function/function";

////
/// @group  Variable
////

///
/// @name   object
///

$object: (
        color : (
                white           : #FFF,
                black           : #000,
                nero            : #191919,
                eclipse         : #3f3c3c,
                picton-blue     : #56a0d1,
                lochmara        : #2071ab,
        ),
        fonts : (
                OS-semibold		: "opensans-semibold",
                WW-regular      : "Watchword_regular_demo",
                TAR-regular     : "typo angular rounded regular",
        ),
        dimension : (
                all : 100%
        ),
);

$w-all                  : return-value(dimension, all);

$c-white                : return-value(color, white);
$c-black                : return-value(color, black);
$c-nero                 : return-value(color, nero);
$c-eclipse              : return-value(color, eclipse);
$c-picton-blue          : return-value(color, picton-blue);
$c-lochmara             : return-value(color, lochmara);

$f-OS-semibold		    : return-value(fonts, OS-semibold);

$f-WW-regular		    : return-value(fonts, WW-regular);
$f-TAR-regular		    : return-value(fonts, TAR-regular);