<!--<section class="brand">
    <nav class="navbar">
        <div class="container navbar__wrap">
            <a href="#" class="logotype">
                <img
                    src="Images/logotype.png" 
                    class="site-logo" 
                    alt="ExpertFolio" 
                    title="ExpertFolio">
            </a>

            <p class="navbar-text navbar-right text-right">
              
                <span ng-show="isAuth" href="javascript:;" class="navbar-link navbar-link__logout">
                    <i class="fa fa-user circled light-gray" aria-hidden="true"></i>
                    Logged as {{loggedAs}}
                    <a href="javascript:;" ng-click="logout()">
                        Logout
                    </a>
                </span>
                <a href="javascript:;" class="navbar-link navbar-link__contact">
                    <span ng-click="contactUs()">Contact with Expertfolio <i class="light-blue glyphicon glyphicon-envelope circled" aria-hidden="true"></i></span>
                </a>
            </p>

        </div>
    </nav>
</section>-->
