///
/// MORE FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// LOGOTYPE
///
.logotype {
  float: left;
  padding: {
    top: 15px;
    left: 15px;
  }

  &__img {

    &-desktop {
      height: 75px;
      @include respond-to(small-max) {
        display: none;
      }
    }
    &-mobile {
      display: none;
      height: (106px / 2);
      @include respond-to(small-max) {
        display: block;
      }
    }
  }
}