///
/// MORE FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// SOCIAL
///
.social {
  float: right;
  padding: {
    top: 9px;
    right: 15px;
  }

  &__btn {
    float: left;
    margin-left: 15px;
    border-radius: $w-all;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
    @include respond-to(small-max) {
      float: none;
      display: inline-block;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transition: all 1s ease-in-out;
      transform: rotateY(360deg);
    }
  }

  &_f {
    @include retina-sprite($sp-i-facebook-group);
  }
  &_t {
    @include retina-sprite($sp-i-twitter-group);
  }
  &_g {
    @include retina-sprite($sp-i-google-plus-group);
  }
}