///
/// MORE FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN TITLE/SUB TITLE
///
.main {
  &__title {
    font: {
      size: 65px;
      family: $f-WW-regular;
    };
    color: $c-eclipse;
    text-shadow: 6px 4px 4px rgba(0,0,0,0.15);
    @include respond-to(small-max) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 75px;
      padding-left: 115px;
      font-size: 28px;
      text-align: right;
      line-height: 1.2;
    }

    &-line {
      @include mixinDimensions(150px, 3px);
      border: none;
      margin: {
        left: auto;
        right: auto;
      };
      background-color: $c-blue-zodiac;
    }

    &-wrap {
      height: 150px;
    }
  }

  &__sub-title {
    font: {
      size: 14px;
    };
    color: $c-nero;
    @include respond-to(small-max) {
      display: none;
      font-size: 13px;
      padding-top: 30px;
    }
  }
}