///
/// MORE FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// VIDEO
///
.video {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  @include mixinDimensions($w-all);
  overflow: hidden;
  border: 20px solid $c-white;

  &.not_load {
    &:before {
      opacity: 1;
      transition: 1s ease-in-out;
    }
  }

  &:before {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    @include mixinDimensions($w-all);
    background: url("../image/bg.jpg") no-repeat center;
    background-size: cover;
  }
}
#video {
  @include mixinDimensions($w-all);
  object-fit: cover;
  filter: blur(.5px);
}