///
/// MORE FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// VIDEO
///
.video {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  @include mixinDimensions($w-all);
  overflow: hidden;
  border: 20px solid $c-white;
  background: url("../image/bg-0.jpg") fixed center no-repeat;
  background-size: cover;
  filter: blur(3px);
  @include respond-to(small-max) {
    border-width: 15px;
  }
}