<div class="container">
    <div class="row">

        <div class="col-md-offset-1 col-md-10 col-xs-12">

            <!-- MAIN SEARCH BLOCK -->
            <div class="shape">

                <!-- header -->
                <div class="shape__header">
                    <span ng-show="isNullOrUndefined(files) || files.length === 0">
                        {{"search"|translate}}
                    </span>

                    <span ng-if="!isNullOrUndefined(files) && files.length > 0 && isNullOrUndefined(selectedFile)">
                        {{"search_results" | translate}}
                    </span>

                    <span ng-if="!isNullOrUndefined(selectedFile)">
                        {{"search_preview_files" | translate}}
                    </span>

                    <span ng-show="!isNullOrUndefined(files) && files.length > 0 && isNullOrUndefined(selectedFile)">
                        {{files.length}} {{"results_found" | translate}}
                    </span>
                </div>
                <!-- end header -->
                <!-- body -->
                <div class="shape__body clearfix">

                    <!-- main search form -->
                    <form class="col-sm-offset-1 col-sm-10 forms__body-search" ng-show="isNullOrUndefined(files) || files.length === 0">

                        <div class="forms__group">

                            <label class="control-label col-sm-3" for="ultrasoundType">{{"Registration type"}}:</label>

                            <div class="col-sm-9 col-xs-12">
                                <select class="forms__input" id="ultrasoundType" ng-model="registrationType" ng-change="updateOptions()"
                                        ng-options="registrationType.Name for registrationType in registrationTypes track by registrationType.Id">
                                    <option value="" selected>{{'select_a_value'|translate}}</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="forms__group">

                            <label class="control-label col-sm-3" for="view">{{"view"|translate}}:</label>

                            <div class="col-sm-9 col-xs-12">
                                <select class="forms__input" id="view" ng-model="viewId" ng-change="loadFingingOptions()"
                                        ng-options="view.Id as view.Name|translate for view in views track by view.Id">
                                    <option value="" selected>{{'select_a_value'|translate}}</option>
                                </select>
                            </div>
                        </div>-->

                        <div class="forms__group">

                            <label class="control-label col-sm-3" for="date-range-search">{{"upload_date"|translate}}:</label>

                            <div class="col-sm-9 col-xs-12">
                                <input date-range-picker class="forms__input date-picker" readonly placeholder="{{'select_date_range'|translate}}" type="text"
                                       ng-model="dateRangePicker" ng-disabled="false" id="date-range-search"
                                       max="dateOptions.maxDate" />
                            </div>
                        </div>

                        <hr class="shape__line">
                        <div class="forms__group">

                            <label class="control-label col-sm-3" for="dateregister-range-search">{{"Registration Date"|translate}}:</label>

                            <div class="col-sm-9 col-xs-12">
                                <input date-range-picker class="forms__input date-picker" readonly placeholder="{{'select_date_range'|translate}}" type="text"
                                       ng-model="dateRegisterPicker" ng-disabled="false" id="dateregister-range-search"
                                       max="dateregisterOptions.maxDate" />
                            </div>
                        </div>

                        <!--<div class="forms__group forms__group-indication forms__group_top" ng-if="indications.length>0">

                            <label class="control-label shape__label-flexTop col-sm-3">{{"indications"|translate}}:</label>

                            <div class="col-sm-9 col-xs-12">
                                <div class="inline col-xs-6" ng-repeat="indication in indications">

                                    <div class="forms__checkbox">
                                        <input class="checkbox__btn" type="checkbox" id="indication_{{indication.Id}}" name="indication" ng-model="indication.Selected" ng-checked="indication.Selected">
                                        <label class="checkbox__label" for="indication_{{indication.Id}}">
                                            <i class="checkbox__icon"></i>
                                            <span class="checkbox__text">{{indication.Name|translate}}</span>
                                        </label>
                                    </div>-->

                                    <!--<div class="checkbox">-->
                                    <!--<label for="indication_{{indication.Id}}">-->
                                    <!--<input type="checkbox" id="indication_{{indication.Id}}" name="indication" ng-model="indication.Selected" ng-checked="indication.Selected">-->
                                    <!--{{indication.Name|translate}}-->
                                    <!--</label>-->
                                    <!--</div>-->
                                <!--</div>
                            </div>
                        </div>-->

                        <!--<div ng-if="findings.length > 0">

                            <ul class="nav nav-tabs col-xs-12">
                                <li class="active">
                                    <a data-toggle="tab" href="javascript:void(0)">{{"tags"|translate}}</a>
                                </li>
                            </ul>

                            <div class="tab-content col-xs-12">
                                <div id="tag" class="tab-pane fade in active clearfix">

                                    <div class="tag__filed clearfix" ng-if="finding.Type !== 'number'" ng-repeat="finding in findings">

                                        <label class="control-label col-sm-3">{{ finding.Name|translate}}:</label>

                                        <div class="col-sm-9">

                                            <div class="forms__radio" ng-repeat="option in finding.Options">
                                                <input class="radio__btn" type="radio" name="{{finding.Name}}" id="finding_option_{{finding.Id}}{{option.Name}}"
                                                       ng-value="option.Id" ng-model="finding.selectedOptionId" ng-selected="$index === 0 ? true : false"
                                                       ng-change="findingChanged()">
                                                <label class="radio__label" for="finding_option_{{finding.Id}}{{option.Name}}">
                                                    <i class="radio__icon"></i>
                                                    <span class="radio__text" ng-bind-html="option.Name|translate | trustAsHtml"></span>
                                                </label>
                                            </div>-->

                                            <!--<label class="radio-inline" for="finding_option_{{finding.Id}}{{option.Name|translate}}" ng-repeat="option in finding.Options">
                                                <input type="radio" name="{{finding.Name}}" id="finding_option_{{finding.Id}}{{option.Name}}"
                                                       ng-value="option.Id" ng-model="finding.selectedOptionId" ng-selected="$index === 0 ? true : false"
                                                       ng-change="findingChanged()">
                                                <span ng-bind-html="option.Name|translate | trustAsHtml"></span>
                                            </label>-->
                                        <!--</div>
                                    </div>

                                </div>
                            </div>
                        </div>-->

                    </form>
                    <!-- end main search form -->
                    <!-- search results -->
                    <div class="search-results-container" ng-show="!isNullOrUndefined(files) && files.length > 0 && isNullOrUndefined(selectedFile)">
                        <div class="search-results">
                            <div class="history-table-wrapper" ng-show="!isNullOrUndefined(files) && files.length > 0 && isNullOrUndefined(selectedFile)">

                                <div class="table-responsive white-bg">

                                    <div id="history-table-header-group">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td width="30%" class="history-table-header">{{"image"|translate}}</td>
                                                    <td width="40%" class="history-table-header">{{"uploaded_by"|translate}}</td>
                                                    <td width="30%" class="history-table-header">{{"upload_date"|translate}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                    <div id="scrolling">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                                <tr class="file-result" ng-repeat="file in files" ng-click="showFileDetails(file)">
                                                    <td width="30%">

                                                        <!-- image container -->
                                                        <div class="search__image-container">

                                                            <!-- image block main -->
                                                            <div class="search_image-wrap">

                                                                <img class="search_image" alt="{{file.ViewName}}" ng-src="{{file.Filepath}}" width="150px"
                                                                     ng-if="!isVideoFile(file.Filepath)" />

                                                                <video loop class="search_video" ng-if="isVideoFile(file.Filepath)">
                                                                    <source ng-src="{{file.Filepath}}" />
                                                                </video>

                                                            </div>

                                                            <!-- icon btn/!btn block main -->
                                                            <div class="search__icon-container">
                                                                <div class="search__icon-wrap" ng-if="!isVideoFile(file.Filepath)">
                                                                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                                                </div>

                                                                <div class="search__icon-wrap" ng-if="isVideoFile(file.Filepath)">
                                                                    <i class="fa fa-file-video-o" aria-hidden="true"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--<h4 class="thumbnail-identification" ng-if="!isVideoFile(file.Filepath)"><i class="fa fa-file-image-o" aria-hidden="true"></i></h4>-->
                                                        <!--<h4 class="thumbnail-identification" ng-if="isVideoFile(file.Filepath)"><i class="fa fa-file-video-o" aria-hidden="true"></i></h4>-->
                                                        <!-- <img class="img-responsive search-thumbnail" alt="{{file.ViewName}}" ng-src="{{file.Filepath}}" width="150px"
                                                              ng-if="!isVideoFile(file.Filepath)" />
                                                         <video loop class="img-responsive search-thumbnail" ng-if="isVideoFile(file.Filepath)">
                                                             <source ng-src="{{file.Filepath}}" />
                                                         </video>-->
                                                    </td>
                                                    <td width="40%" align="center" class="vertical-align-middle"> {{file.UploadedBy}}</td>
                                                    <td width="30%" align="center" class="vertical-align-middle"> {{toLocalDate(file.UploadedOn) | date: 'short'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end search results -->
                    <!-- search files preview -->
                    <div class="search-image-details" ng-if="!isNullOrUndefined(selectedFile)">

                        <div class="shape__body">
                            <div class="shape_top shape__body-padding animated fadeIn">
                                <div class="animated fadeIn center">

                                    <!-- image container -->
                                    <div class="search__image-container search__image_some">

                                        <!-- image block main -->
                                        <div class="search_image-wrap">

                                            <img alt="{{selectedFile.ViewName}}" ng-src="{{selectedFile.Filepath}}" class="search_image"
                                                 ng-if="!isVideoFile(selectedFile.Filename)" />

                                            <video loop class="search_video" ng-if="isVideoFile(selectedFile.Filepath)">
                                                <source ng-src="{{selectedFile.Filepath }}" />
                                            </video>

                                        </div>

                                        <!-- icon btn/!btn block main -->
                                        <div class="search__icon-container">
                                            <div class="search__icon-field search__icon_light">
                                                <div class="search__icon-wrap" ng-click="enlarge(selectedFile.Filepath)">
                                                    <i class="fa" ng-class="isVideoFile(selectedFile.Filepath) ? 'fa-play' :'fa-arrows-alt'" aria-hidden="true"></i>
                                                </div>
                                                <span class="search__icon-text">{{isVideoFile(selectedFile.Filepath) ? 'Play' :'Preview'}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="shape_bottom shape__body-padding">

                                <hr class="shape__line shape__line_transparent">

                                <!--<div class="shape__groups clearfix">
                                    <span class="shape__label col-xs-3">{{"view"|translate}}:</span>
                                    <span class="shape__info col-xs-8">{{selectedFile.ViewName|translate}}</span>
                                </div>-->

                                <hr class="shape__line">

                                <!--<div class="shape__groups clearfix">
                                    <span class="shape__label col-sm-3">{{"finding"|translate}}:</span>

                                    <span class="shape__info col-sm-8">
                                        <span class="shape__info-column col-xs-12" ng-repeat="finding in selectedFile.SelectedFindings">
                                            <span class="col-xs-5" style="padding-left: 0;">{{finding.FindingName|translate}}:</span>
                                            <span class="col-xs-1"> - </span>
                                            <span class="col-xs-5" ng-bind-html="finding.OptionName|translate | trustAsHtml"></span>
                                            <br>
                                        </span>
                                    </span>
                                </div>-->

                            </div>
                        </div>
                    </div>
                    <!-- end search files preview -->

                </div>
                <!-- end body -->
                <!-- footer -->
                <div class="shape__footer">

                    <!--   -->
                    <div class="shape__footer-wrap"
                         ng-show="isNullOrUndefined(files) || files.length === 0">

                        <span style="margin-left: auto">

                            <button class="button__c button_c-info"
                                    ng-click="clearSearchCriteria()">
                                {{"clear"|translate}}
                            </button> &nbsp;

                            <button type="button" class="button__c"
                                    ng-click="search()">
                                {{"search"|translate}}
                            </button>

                        </span>
                    </div>
                    <!-- end  -->
                    <!--   -->
                    <div class="shape__footer-wrap"
                         ng-if="!isNullOrUndefined(files) && files.length > 0 && isNullOrUndefined(selectedFile)">

                        <button type="button"
                                class="button__c btn__newSearch"
                                ng-click="newSearch()">
                            {{"new_search"|translate}}
                        </button>
                    </div>
                    <!-- end  -->
                    <!--   -->
                    <div class="shape__footer-wrap"
                         ng-if="!isNullOrUndefined(selectedFile)">

                        <span style="margin-left: auto">

                            <button type="button"
                                    class="button__c button_c-info"
                                    ng-click="backToList()">
                                {{"back_to_results"|translate}}
                            </button> &nbsp;

                            <a class="button__c"
                               ng-href="{{selectedFile.Filepath}}"
                               target="_blank">
                                {{"download"|translate}}
                            </a>

                        </span>
                    </div>
                    <!-- end  -->

                </div>
                <!-- end footer -->

            </div>
            <!-- end MAIN SEARCH BLOCK -->

        </div>

    </div>
</div>

