<!--<div class="k-loading-image k-overlay" ng-show="loading"></div>-->
<!--<div ng-include="'/app/home/header.html'"></div>-->


<div class="forms">
    <div class="forms__block">

        <!-- header -->
        <div class="forms__header clearfix">
            <p class="forms__header-text">{{"change_password" | translate}}</p>
        </div>

        <!-- body [login, register, forget] -->
        <div class="forms__body">

            <form id="loginform" class="loginform" name="userForm" role="form">

                <!-- E-mail filed -->
                <div class="forms__group"
                     ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty}">

                    <label for="email" class="col-sm-3">{{"email" | translate}}:</label>

                    <div class="col-sm-9 col-xs-12">
                        <input  type="email"
                                class="forms__input" id="email"
                                name="email"
                                required readonly
                                ng-model="user.Email">

                        <p class="help-block"
                           ng-show="userForm.email.$invalid && !userForm.email.$pristine">
                            Enter a valid email.</p>
                    </div>
                </div>

                <!-- New Password filed -->
                <div class="forms__group"
                     ng-class="{ 'has-error' : userForm.newPassword.$invalid && !userForm.newPassword.$pristine }">

                    <label for="newPassword" class="col-sm-3">{{"new_password" | translate}}:</label>

                    <div class="col-sm-9 col-xs-12">
                        <input type="password"
                               name="newPassword"
                               class="forms__input" id="newPassword"
                               ng-minlength="6" required
                               ng-model="user.NewPassword">

                        <p class="help-block"
                           ng-show="userForm.newPassword.$invalid && !userForm.newPassword.$pristine">
                            Password is to short.</p>
                    </div>
                </div>

                <!-- Confirm password filed -->
                <div class="forms__group"
                     ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine || checkPwds() && userForm.confirmPassword.$valid}">

                    <label for="confirmPassword" class="col-sm-3">{{"confirm_password" | translate}}:</label>

                    <div class="col-sm-9 col-xs-12">
                        <input type="password"
                               name="confirmPassword"
                               class="forms__input" id="confirmPassword"
                               ng-minlength="6" required
                               ng-model="user.ConfirmedPassword">

                        <p class="help-block"
                           ng-show="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine">
                            Confirmed password is to short.</p>
                        <p class="help-block"
                           ng-show="checkPwds() && userForm.confirmPassword.$valid">
                            Passwords isn`t the same.</p>
                    </div>
                </div>

            </form>

            <button type="button"
                    class="button__c btn__save"
                    ng-click="sendPassword()"
                    ng-disabled="!userForm.$valid || checkPwds()">
                <i class="fa fa-paper-plane"></i>
                {{"save" | translate}}
            </button>

            <a class="btn__links btn__goto"
               ui-sref="login" href="/login">
                {{"go_to_login_page" | translate}}
            </a>

        </div>

    </div>
</div>

<!--<div class="row" style="margin-top:40px">-->
    <!--<div class="col-md-offset-4 col-md-4">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading medium-blue">-->
                <!--<strong>Change Password </strong>-->
            <!--</div>-->
            <!--<div class="panel-body">-->

                <!--<form id="loginform" name="userForm" class="form-horizontal col-xs-offset-1 col-xs-10" role="form">-->

                    <!--&lt;!&ndash;<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="control-label col-sm-3">Email:</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div style="margin-bottom:10px" class="col-sm-9">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input  type="email" class="form-control" name="email" ng-model="user.Email" required readonly>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;<div class="form-group" ng-class="{ 'has-error' : userForm.newPassword.$invalid && !userForm.newPassword.$pristine }">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="control-label col-sm-3">New Password:</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-9">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input required type="password" name="newPassword" class="form-control" ng-minlength="6" ng-model="user.NewPassword">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p ng-show="userForm.newPassword.$invalid && !userForm.newPassword.$pristine" class="help-block">Password is to short.</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;<div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine || checkPwds() && userForm.confirmPassword.$valid}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="control-label col-sm-3">Confirm password:</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-9">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input required type="password" name="confirmPassword" class="form-control" ng-minlength="6" ng-model="user.ConfirmedPassword">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p ng-show="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine" class="help-block">Confirmed password is to short.</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p ng-show="checkPwds() && userForm.confirmPassword.$valid" class="help-block">Passwords isn`t the same.</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--<div class="pull-right" style="margin-top:10px">-->
                        <!--<button type="button" class="btn btn-primary" ng-click="sendPassword()" ng-disabled="!userForm.$valid || checkPwds()"><i class="glyphicon glyphicon-lock" /> Save</button>-->
                    <!--</div>-->

                <!--</form>-->
            <!--</div>-->

            <!--<div class="panel-footer">-->
                <!--<div class="container-fluid">-->

                    <!--<div class="row">-->

                        <!--<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>-->
                        <!--<em class="light-blue">-->
                            <!--<a id="btn-fblogin" ui-sref="login" href="/login">-->
                                <!--login-->
                            <!--</a>-->
                        <!--</em>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->