include _mixin/mixin
include _mixin/macrosMixin


doctype html
html(
    lang="en"
    class="js"
)

    +headSite("ExpertCollege Under Construction", linkSite.styleLinkIndex, "")

    body


        include _template/video

        main.main.clearfix

            include _template/subscribe

            header.header.clearfix
                include _template/logotype

            section

                .section__wrap.section__wrap-0
                    include _template/title

                .section__wrap.section__wrap-1
                    include _template/circle

            footer.footer
                include _template/copyright
                include _template/social


    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])