///
/// MORE FILES
///
@import "./_mixin/mixin";
@import "./_variable/variable";
@import "./_variable/sprite";
///
/// VIDEO
///
.video {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  @include mixinDimensions($w-all);
  overflow: hidden;

  &.not_load {
    &:before {
      opacity: 1;
      transition: 1s ease-in-out;
    }
  }

  &:before {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    @include mixinDimensions($w-all);
    background: url("../image/video-bg.jpg") no-repeat center;
    background-size: cover;
  }
}
#video {
  @include mixinDimensions($w-all);
  object-fit: cover;
  filter: blur(2px);
}
///
/// MAIN
///
main {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  @include mixinDimensions($w-all, 100vh);
  background-color: rgba($c-white, .4);
  text-align: center;
  @include respond-to(small-max) {
    padding: 15px;
  }
}
///
/// SECTION
///
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_logotype {
    padding-top: 15px;
    height: 15%;
    @include respond-to(small-max) {
      position: absolute;
      left: 15px;
      top: 15px;
      height: auto;
      padding-top: 0;
    }
  }
  &_circle {
    display: block;
    min-height: calc((100% - (15% + 15% + 25% + 50px)));
    @include respond-to(small-max) {
      display: flex;
      min-height: calc((100% - (100px + 95px + 130px)));
    }

    .container {
      max-width: 910px;
      padding: 0;
      @include respond-to(small-max) {
        width: $w-all;
        min-width: 0;
      }
    }
  }
  &_title {
    min-height: 25%;
    @include respond-to(small-max) {
      display: block;
      min-height: 130px;
    }
  }
  &_subscribe {
    padding-top: 20px;
    height: 15%;
    justify-content: flex-start;
    @include respond-to(small-max) {
      height: 20%;
      padding: {
        top: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-height: 599px) {
  main {
    height: auto;
    min-height: 100vh;
  }
  .section {
    &_logotype {
      height: auto;
      padding: {
        top: 15px;
        bottom: 30px;
      };
    }
    &_title {
      min-height: 0;
      margin: {
        top: 30px;
        bottom: 30px;
      };
    }
    &_subscribe {
      height: auto;
      padding: {
        top: 30px;
        bottom: 30px;
      }
    }
    &_circle {
      min-height: 0;
      padding: {
        top: 30px;
        bottom: 30px;
      };
    }
  }
}
@media only screen and (max-width: 767px) and (max-height: 479px) {
  main {
    height: auto;

    .main__sub-title {
      //padding-top: 50px;
    }
  }
  .section {
    &_title {
      display: block;
      min-height: 10%;
    }
    &_subscribe {
      height: 75px;
    }
    &_circle {
      min-height: 100px;
      padding: {
        top: 15px;
        bottom: 15px;
      };
    }
  }
}
///
/// MAIN TITLE/SUB TITLE
///
.main {
  &__title {
    font: {
      size: 65px;
      family: $f-WW-regular;
      //family: $f-VTKS-regular;
    };
    color: $c-eclipse;
    text-shadow: 6px 4px 4px rgba(0,0,0,0.15);
    @include respond-to(small-max) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 75px;
      padding-left: 115px;
      font-size: 28px;
      text-align: right;
      line-height: 1.2;
    }
  }

  &__sub-title {
    font: {
      size: 16px;
    };
    color: $c-nero;
    @include respond-to(small-max) {
      display: none;
      font-size: 13px;
      padding-top: 30px;
    }
  }
}
///
/// SUBSCRIBE
///
.subscribe {
  position: relative;
  width: 450px;
  height: 35px;
  margin: {
    left: auto;
    right: auto;
  };
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
  @include respond-to(small-max) {
    width: $w-all;
  }

  &__input,
  &__btn {
    float: left;
    height: 35px;
    line-height: 35px;
    color: $c-nero;
    font: {
      size: 14px;
    };
  }

  &__input {
    width: calc(100% - 150px);
    padding: 0 15px;
    border: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    @include respond-to(small-max) {
      width: calc(100% - 100px);
    }
  }

  &__btn {
    width: 150px;
    color: $c-white;
    font-family: $f-WW-regular;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgb(86,160,209);
    background: -moz-linear-gradient(top,  rgba(86,160,209,1) 0%, rgba(32,113,171,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(86,160,209,1) 0%,rgba(32,113,171,1) 100%);
    background: linear-gradient(to bottom,  rgba(86,160,209,1) 0%,rgba(32,113,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56a0d1', endColorstr='#2071ab',GradientType=0 );
    @include respond-to(small-max) {
      width: 100px;
    }
  }
}
///
/// CIRCLE
///
.circle {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__block {
    cursor: pointer;
    @include mixinDimensions(140px);
    border-radius: $w-all;
    background-color: rgba($c-white,0.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $c-lochmara;
    transition-property: background, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: rgba($c-white, 0.35);
      box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
      transition-property: background, box-shadow;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
    }

    &-num {
      font: {
        size: 40px;
        family: $f-TAR-regular;
      }
      text-shadow: 6px 4px 4px rgba(0,0,0,0.15);
      @include respond-to(small) {
        font-size: 30px;
      }
      @include respond-to(extra-small) {
        font-size: 20px;
        line-height: 1;
      }
    }

    &-text {
      font-family: $f-WW-regular;
      @include respond-to(small) {
        font-size: 14px;
      }
      @include respond-to(extra-small) {
        font-size: 10px;
      }
    }
  }
}
///
/// COPYRIGHT
///
.copyright {
  font-family: $f-WW-regular;
  @include respond-to(small-max) {
    display: block;
  }
}
///
/// SOCIAL
///
.social {
  &__btn {
    float: left;
    margin-left: 15px;
    border-radius: $w-all;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
    @include respond-to(small-max) {
      float: none;
      display: inline-block;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transition: all 1s ease-in-out;
      transform: rotateY(360deg);
    }
  }

  &_f {
    @include retina-sprite($sp-i-facebook-group);
  }
  &_t {
    @include retina-sprite($sp-i-twitter-group);
  }
  &_g {
    @include retina-sprite($sp-i-google-plus-group);
  }
}
///
/// FOOTER
///
.footer {
  height: 50px;
  line-height: 50px;
  text-align: left;
  margin: {
    left: auto;
    right: auto;
  };
  font-size: 12px;
  @include respond-to(small-max) {
    height: 100px;
    text-align: center;
    line-height: normal;
  }

  &_left {
    float: left;
  }
  &_right {
    float: right;
    margin-top: 8px;
  }

  &_left,
  &_right {
    @include respond-to(small-max) {
      height: 50px;
      float: none;
      margin: 0;
    }
  }

  &__line {
    &-0 {
      @include respond-to(small-max) {
        display: none;
      }
    }
  }
}