///
/// MORE FILES
///
@import "./_mixin/mixin";
@import "./_variable/variable";
@import "./_variable/sprite";
///
/// MAIN
///
main {
  position: relative;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($c-white, .4);
  padding: 20px;
  text-align: center;
  @include respond-to(small-max) {
    padding: 15px;
  }
}
///
/// HEADER
///
.header {
  height: 100px;
}
///
/// SECTION
///
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - (100px + 50px));
}
.section {
  &__wrap {
    &-0 {
      margin-top: -200px;
    }
  }
}
///
/// FOOTER
///
.footer {
  height: 50px;
  line-height: 50px;
  text-align: left;
  @include respond-to(small-max) {
    height: 100px;
    text-align: center;
    line-height: normal;
  }
}